<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
	<!-- Overlay -->
	<div class="overlay"></div>

	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#bs-carousel" data-slide-to="1"></li>
		<li data-target="#bs-carousel" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item slides active">
			<div class="slide-1"></div>
			<div class="hero">
				<hgroup>
					<h1>Tasks made simple</h1>
					<h3>Easily find the right person to suit your needs</h3>
				</hgroup>
			</div>
		</div>
		<div class="item slides">
			<div class="slide-2"></div>
			<div class="hero">
				<hgroup>
					<h1>Jobs for anyone</h1>
					<h3>Listings for all skillsets to fulfill</h3>
				</hgroup>
			</div>
		</div>
		<div class="item slides">
			<div class="slide-3"></div>
			<div class="hero">
				<hgroup>
					<h1>Rating Based Bids</h1>
					<h3>Create a listing and select from bids based on price and rating</h3>
				</hgroup>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="page-header">
		<h3 *ngIf="!loggedIn">Getting started has never been simpler!</h3>
		<h3 *ngIf="loggedIn && suggested.length > 0">Jobs you might be interested in:</h3>
	</div>
	<div class="row grid-divider" *ngIf="!loggedIn">
		<div class="col-sm-4">
			<div class="col-padding">
				<h3>Step 1</h3>
				<p>Create a profile. All you need to enter is some basic information to get started. Your profile is where people can see your job statistics and basic information. </p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="col-padding">
				<h3>Step 2</h3>
				<p>Create a job entry for the task you need completed. All you need to enter is the location of the job and a short description. You can also upload some images to help give the job specialists an idea of what needs to done.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="col-padding">
				<h3>Step 3</h3>
				<p>Find a job specialist for the task. You can browse through the job specialists in your area or await a specialist to bid on your job. Since all job specialists have past job reviews available to view on their profile, you can make sure you find the right person for the job. Once the job has been accepted by both parties, all you need to do is wait for the job to get done.</p>
			</div>
		</div>
	</div>
	<div class="row grid-divider" *ngIf="loggedIn && suggested.length > 0">
		<div class="col-sm-4 suggestedJobs" *ngFor="let job of suggested | slice:0:3">
			<div class="col-padding">
				<div>
                    <div class="pictureBox">
                        <img *ngIf="job.jobImage == null" src="images/default_picture.png" class="jobPicture img-thumbnail thumbLarge" />
				        <img *ngIf="job.jobImage != null" src="{{ job.jobImage }}" class="jobPicture img-thumbnail thumbLarge" />
                    </div> 
                </div>
				<h3>{{ job.jobTitle }}</h3>
				<p>{{ job.jobDescription | slice:0:125 }}...</p>
				<br />
				<p><small>Based on your <strong>"{{ job.skillName }}"</strong> skill</small></p>
				<a class="btn btn-primary " (click)="viewListing(1)" href>View</a> 
			</div>
		</div>
	</div>
</div>